# ignore direnv files
.envrc

# ignore downloaded upstream source archives
gpdb-*.tar.gz
gpdb_*.orig.tar.gz

# ignore Debian package build artifacts
gpdb*.debian.tar.xz
gpdb*.dsc
gpdb*.build
gpdb*.buildinfo
gpdb*.changes
greenplum-db-?-dbgsym_*.deb
greenplum-db-?-dbgsym_*.ddeb
greenplum-db-?_*.deb

# ignore upload files
gpdb*.upload

# ignore unpacked source code
gpdb/**
!gpdb/debian/
!gpdb/debian/**
