# ignore direnv files
.envrc

# ignore downloaded upstream source archives
gpdb-*.tar.gz
gpdb_*.orig.tar.gz

# ignore Debian package build artifacts
gpdb_*.debian.tar.xz
gpdb_*.dsc
gpdb_*.build
gpdb_*.buildinfo
gpdb_*.changes
greenplum-db-?-dbgsym_*.deb
greenplum-db-?-dbgsym_*.ddeb
greenplum-db-?_*.deb

# ignore upload files
gpdb_*.upload

# ignore unpacked source code
gpdb/**
!gpdb/debian/
!gpdb/debian/**
