# ignore direnv files
.envrc

# ignore downloaded upstream source archives
gpdb-*.tar.gz
gpdb_*.orig.tar.gz

# ignore Debian package build artifacts
gpdb_*.debian.tar.xz
gpdb_*.dsc
gpdb_*.build
gpdb_*.buildinfo
gpdb_*.changes
greenplum-db-7-dbgsym_*.deb
greenplum-db-7_*.deb

gpdb/**
!gpdb/debian/**
