Source: gpdb
Maintainer: Bradford D. Boyle <bradford.d.boyle@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.6.1.0
Build-Depends:
 bison,
 debhelper-compat (= 13),
 flex,
 libapr1-dev,
 libaprutil1-dev,
 libbz2-dev,
 libcurl4-openssl-dev,
 libevent-dev,
 libkrb5-dev,
 libldap2-dev,
 libpam0g-dev,
 libperl-dev,
 libpython3-dev,
 libreadline-dev,
 libssl-dev,
 libxerces-c-dev,
 libxml2-dev,
 libyaml-dev,
 libzstd-dev,
 pkg-config,
 python3,
 python3-setuptools,
 zlib1g-dev
Vcs-Browser: https://github.com/greenplum-db/greenplum-db-for-debian
Vcs-Git: https://github.com/greenplum-db/greenplum-db-for-debian.git -b 7 [gpdb]

Package: greenplum-db-7
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 less,
 locales,
 net-tools,
 openssh-server,
 python3
Description: Massively Parallel PostgreSQL for Analytic
 Greenplum Database (GPDB) is an advanced, fully featured, open source data
 warehouse, based on PostgreSQL. It provides powerful and rapid analytics on
 petabyte scale data volumes. Uniquely geared toward big data analytics,
 Greenplum Database is powered by the world’s most advanced cost-based query
 optimizer delivering high analytical query performance on large data volumes.
