#!/usr/bin/make -f

MAJOR_VER := 7

include /usr/share/dpkg/pkg-info.mk

DEB_TARGET_MULTIARCH ?= $(shell dpkg-architecture -qDEB_TARGET_MULTIARCH)

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

CONFIGURE_FLAGS = \
  --prefix=/usr/local/greenplum-db-$(MAJOR_VER) \
  --disable-rpath \
  --disable-tap-tests \
  --disable-gpperfmon \
  --with-gssapi \
  --enable-mapreduce \
  --enable-orafce \
  --enable-orca \
  --with-libxml \
  --with-pgport=5432 \
  --with-libedit-preferred \
  --with-pythonsrc-ext \
  --disable-debug-extensions \
  --with-perl \
  --with-python \
  --with-openssl \
  --with-pam \
  --with-ldap \
  --enable-debug \
  --with-system-tzdata=/usr/share/zoneinfo

%:
	dh $@

# TODO: how to properly clean gpdb source
override_dh_auto_clean:

override_dh_auto_configure:
	dh_auto_configure -- $(CONFIGURE_FLAGS)

override_dh_auto_build:
	# set MAKELEVEL to 0 to force building submake-generated-headers in src/Makefile.global(.in)
	MAKELEVEL=0 $(MAKE) -C src all
	$(MAKE) -C config all
	$(MAKE) -C contrib/auto_explain all
	$(MAKE) -C contrib/citext all
	$(MAKE) -C contrib/file_fdw all
	$(MAKE) -C contrib/formatter all
	$(MAKE) -C contrib/formatter_fixedwidth all
	$(MAKE) -C contrib/fuzzystrmatch all
	$(MAKE) -C contrib/extprotocol all
	$(MAKE) -C contrib/dblink all
	$(MAKE) -C contrib/indexscan all
	$(MAKE) -C contrib/pageinspect all # needed by src/test/isolation
	$(MAKE) -C contrib/hstore all
	$(MAKE) -C contrib/pgcrypto all
	$(MAKE) -C contrib/btree_gin all
	$(MAKE) -C contrib/pg_trgm all
	$(MAKE) -C contrib/sslinfo all
	$(MAKE) -C gpMgmt all
	$(MAKE) -C gpcontrib all

override_dh_shlibdeps:
	dh_shlibdeps -l /usr/local/greenplum-db-$(MAJOR_VER)/lib/$(DEB_TARGET_MULTIARCH)

# TODO: how to test
override_dh_auto_test:

# disable dh_usrlocal since we are installing there
override_dh_usrlocal:

override_dh_fixperms:
	dh_fixperms
	chmod -x \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/gpcheckcat_modules/__init__.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/gpcheckcat_modules/leaked_schema_dropper.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/gpconfig_modules/__init__.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/gpconfig_modules/compare_segment_guc.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/gpconfig_modules/database_segment_guc.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/gpconfig_modules/file_segment_guc.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/gpconfig_modules/guc_collection.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/gpconfig_modules/parse_guc_metadata.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/gpconfig_modules/segment_guc.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/gpssh_modules/__init__.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/gpssh_modules/gppxssh_wrapper.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/lib/__init__.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/lib/gp_bash_version.sh \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/lib/pexpect/__init__.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/bin/lib/pexpect/pxssh.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/lib/$(DEB_TARGET_MULTIARCH)/postgresql/pgxs/src/test/regress/GPTest.pm \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/lib/$(DEB_TARGET_MULTIARCH)/postgresql/pgxs/src/test/regress/atmsort.pm \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/lib/$(DEB_TARGET_MULTIARCH)/postgresql/pgxs/src/test/regress/explain.pm \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/lib/$(DEB_TARGET_MULTIARCH)/python/gppylib/operations/test_utils_helper.py \
		debian/greenplum-db-$(MAJOR_VER)/usr/local/greenplum-db-$(MAJOR_VER)/sbin/recovery_base.py
