#!/usr/bin/make -f

MAJOR_VER := 6

include /usr/share/dpkg/pkg-info.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wno-error=implicit-fallthrough
export DEB_CPPFLAGS_MAINT_APPEND = -Wno-error=deprecated-copy

%:
	dh $@

# TODO: how to properly clean gpdb source
override_dh_auto_clean:

override_dh_auto_configure:
	dh_auto_configure -- \
            --prefix=/usr/local/greenplum-db-$(MAJOR_VER) \
            --disable-rpath \
            --disable-tap-tests \
            --disable-gpperfmon \
            --with-gssapi \
            --enable-mapreduce \
            --enable-orafce \
            --enable-orca \
            --with-libxml \
            --with-pgport=5432 \
            --with-libedit-preferred \
            --disable-debug-extensions \
            --with-perl \
            --with-python \
            --with-openssl \
            --with-pam \
            --with-ldap \
            --enable-debug

override_dh_shlibdeps:
	dh_shlibdeps -l /usr/local/greenplum-db-$(MAJOR_VER)/lib/x86_64-linux-gnu

# TODO: how to test
override_dh_auto_test:

# disable dh_usrlocal since we are installing there
override_dh_usrlocal:
